
/* Main layout */
.gamedashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1080px;
  padding: 28px 60px;
}
.backgroundimage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}
/* Dashboard grid layout */
.dashboardcontent {
  position: relative;
  margin-top: 10px;
  width: 1800px;
  height: 760px;
}
 
.dashboardgrid {
  display: flex;
  gap: 20px;
}
.defencecolumn {
  width: 33%;
  height: 760px;
}