
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Plotter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.1.0/leaflet.polylineDecorator.min.js"></script>
    <script src="https://unpkg.com/leaflet-textpath/leaflet.textpath.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
        #plot-container, #plot-container-2 {
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            width: 80%;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .input-group {
            margin: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <!--<button id="plot-button-1" class="btn btn-info">Show map basic</button>&nbsp;-->
                <!--<button id="plot-button-2">Show map mod</button>&nbsp;-->
                <!--<button id="plot-button-3" class="btn btn-info">Show map new</button>&nbsp;-->
                <!--<button id="plot-button-4">Show map new edit</button>&nbsp;-->
                <!--<button id="plot-button-5" class="btn btn-info">Generator in country</button>&nbsp;-->
                <!--<button id="plot-button-6" class="btn btn-info">Single gen</button>&nbsp;-->
                <button id="line-average" class="btn btn-info">Line average</button>&nbsp;
                <button id="line-peak" class="btn btn-info">Line peak</button>&nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="plot-container-1">
                <p>Plot will be displayed here</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="plot-container-2">
                <p>Plot will be displayed here</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><hr></div>
    </div>
    <div class="row"></div>
        <div class="col-12" id="countryCarrier"></div>
    </div>
    <div class="row">
        <div class="col-6"><div id="singleGeneratorLoad"></div></div>
        <div class="col-6"><div id="singleBusLinks"><table class="table singleBusLinks"></table></div></div>
    </div>
    <div class="row">
        <div class="col-6"><div id="plot-container-3"></div></div>
        <div class="col-6"><div id="container"></div></div>
    </div>
    <div class="row">
        <div class="col-6"><div id="singleGenerator"></div></div>
        <div class="col-6"><div id="container-single-generator-table"></div></div>
    </div>
</div>
<script>
let map = L.map('plot-container-2').setView([51.505, -0.09], 5);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,}).addTo(map);
$(document).ready(function() {
    getGenerators();
    //getGenerationCountryCarrier();
    //getFlowBetweenCountries();
    arrayTable = [];
    $('#line-average').on('click', () => {
        let lines = sessionStorage.getItem("lines");
        lines = JSON.parse(lines);
        console.log(lines);
        drawLines(lines, 'average');
    });
    $('#line-peak').on('click', () => {
        let lines = sessionStorage.getItem("lines");
        lines = JSON.parse(lines);
        console.log(lines);
        drawLines(lines, 'peak');
    });
});
function createBarChart(myTable){
    //console.log(myTable);
    // Highcharts Bar Chart from HTML Table
    Highcharts.chart('container', {
        data: {
            table: myTable,
        },
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true 
                    }
                }
            }
        });
    }
function createLineChart(table, target){
    Highcharts.chart(target, {
        data: {
            table: table,
        },
        chart: {
            type: 'line'
        },
        title: {
            text: ''
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true 
                    }
                }
            }
        });
    }
function bindSingleGenerator(e){
    $(".single-gen").on("click", function(e) {
        e.preventDefault();
        const g = $(this).parent().data('id');
        //console.log(g);
        const data = 'generator=' + g;
        $.ajax({
            url: "/single_generator",
            data: data,
            type: "POST",
            dataType: "json",
            success: function(response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    //console.log(response.data);
                    const data = JSON.parse(response.data);
                    const dataValues = data[g];
                    let strHtml = '<table class="table" id="singleGeneratorTable">';
                    let miadata;
                    $.each(dataValues, function(key, values){
                        values = Math.round(values);
                        /*
                        miadata = new Date(key);
                        const year = miadata.getFullYear();
                        const month = String(miadata.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(miadata.getDate()).padStart(2, '0');
                        const hours = String(miadata.getHours()).padStart(2, '0');
                        const minutes = String(miadata.getMinutes()).padStart(2, '0');
                        const seconds = String(miadata.getSeconds()).padStart(2, '0');
                        const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                        */
                        strHtml += `<tr><td>${key}</td><td>${values}</td></tr>`
                    });
                    strHtml += '</table>';
                    $('#singleGenerator').html(strHtml);
                    createLineChart('singleGeneratorTable', 'singleGenerator');
                }
            },
            error: function(error) {
                //console.log("An error occurred: " + error.responseJSON);
                for (const key in error) {
                    if (error.hasOwnProperty(key)) {
                        //console.log(`${key}: ${obj[key]}`);
                        }
                    }
            }
        });
        /************************************************/
    });
}
function getSingleBusLoad(bus_name){
    const data = 'bus_name=' + bus_name;
    $.ajax({
        url: "/single_bus_load",
        data: data,
        type: "POST",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                //console.log(response.data);
                let data = JSON.parse(response.data);
                data = data[bus_name];
                //console.log(data);
                //console.log(typeof(data))
                //const dataValues = data[g];
                let strHtml = '<table class="table" id="singleGeneratorLoadTable"></tr>';
                for (const [key, value] of Object.entries(data)) {
                //$.each(data, function(key, values){
                    values = Math.round(value);
                    strHtml += `<tr><td>${key}</td><td>${values}</td></tr>`
                //});
                }
                strHtml += '</table>';
                $('#singleGeneratorLoad').html(strHtml);
                createLineChart('singleGeneratorLoadTable', 'singleGeneratorLoad');
                getSingleBusLinks(bus_name);
            }
        },
        error: function(error) {
            for (const key in error) {
                if (error.hasOwnProperty(key)) {
                    //console.log(`${key}: ${obj[key]}`);
                    }
                }
        }
    });
}
function getSingleBusLinks(bus_name){
    const data = 'bus_name=' + bus_name;
    $.ajax({
        url: "/single_bus_links",
        data: data,
        type: "POST",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                //console.log(response.data);
                let strHtml = '';
                let data = JSON.parse(response.data);
                for (const [key, value] of Object.entries(data)) {
                //Object.keys(data).forEach(key => {
                    strHtml += '<tr><th colspan="2">' + key + '</th></tr>';
                    console.log(key);
                    console.log(value);
                    //console.log(typeof(value));
                    for (const [key2, value2] of Object.entries(value)) {
                        strHtml += '<tr><td>' + key2 + '</td><td>' + Math.round(value2) + '</td></tr>';
                    }
                }
                $('.singleBusLinks').html(strHtml);
                //data = data[bus_name];
                //console.log(data);
                //console.log(typeof(data))
            }
        },
        error: function(error) {
            for (const key in error) {
                if (error.hasOwnProperty(key)) {
                    //console.log(`${key}: ${obj[key]}`);
                    }
                }
        }
    });
}
function getGenerators(){
    $.ajax({
        url: "/generators_in_country",
        type: "GET",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                const buses = JSON.parse(response.data[0]);
                //console.log(buses);

                const generators = JSON.parse(response.data[1]);
                //console.log(generators);

                const jsonObject = buses.x;
                const jsonObjecty = buses.y;
                let x = 0;
                Object.keys(jsonObject).forEach(key => {
                    if(generators[x][0] == key){
                        //*******************************************
                        strHtml = '<table id="t' + x + '"><tr><td>Carrier</td><td>P Nom</td></tr>';
                        list = generators[x][1];
                        list.forEach(el => {
                            if(el.carrier != ""){
                                strHtml += `<tr><td data-id="${key} ${el.carrier}"><a href="#" class="single-gen">${el.carrier}</a></td><td>${Math.round(el.p_nom)}</td></tr>`;
                            }
                        });
                        strHtml += '</table>';
                        arrayTable.push(strHtml);
                        //*******************************************
                        L.marker([jsonObjecty[key], jsonObject[key]], {customId: x,})
                            .addTo(map)
                            .on('click', function(e) {
                                //console.log(this.options.customId);
                                $('#plot-container-3').html(arrayTable[this.options.customId]);
                                bindSingleGenerator();
                                getSingleBusLoad(key);
                                createBarChart('t' + this.options.customId);
                                })
                            //.bindPopup(`<div>${strHtml}</div>`);
                            x++;
                        }
                    else{
                        console.log(0);
                        }
                    });
                getLines();
            }
            
        },
        error: function(error) {
            console.log("An error occurred: " + error.responseJSON);
            for (const key in error) {
                if (error.hasOwnProperty(key)) {
                    console.log(`${key}: ${error[key]}`);
                    }
                }
            }
    });
    //********************************************************************
}
function getLines(){
    $.ajax({
        url: "/lines_in_country",
        type: "GET",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                const buses = JSON.parse(response.data[0]);
                //console.log(buses);
                sessionStorage.setItem("lines", response.data[1]);
                const lines = JSON.parse(response.data[1]);
                console.log(lines);
                drawLines(lines, 'average');

            //getLoads();
            }
        },
        error: function(error) {
            alert("An error occurred: " + error.responseJSON);
        }
    });
}
function getGenerationCountryCarrier(){
    $.ajax({
        url: "/generation_country_carrier",
        type: "GET",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                //console.log(response.data);
                let str = '[';
                let dataArray  = [];
                let data = JSON.parse(response.data);
                for (const [key, value] of Object.entries(data)) {
                    str += '{"name": " ' + key + ' ", "data": ['
                    for (const [key2, value2] of Object.entries(value)) {
                        dataArray.push(Math.round(value2/1000));
                    }
                    str += dataArray.toString() + ']},';
                    dataArray = [];
                }
                str = str.substring(0, (str.length-1));
                str += ']';
                //console.log(str);
                dataNew = JSON.parse(str);
                createBarChartStacked(dataNew);
            }    
        },
        error: function(error) {
            console.log("An error occurred: " + error.responseJSON);
            for (const key in error) {
                if (error.hasOwnProperty(key)) {
                    console.log(`${key}: ${error[key]}`);
                    }
                }
            }
    });
}
function createBarChartStacked(data){
    Highcharts.chart('countryCarrier', {
    chart: {type: 'column', height: 800},
    title: {text: ''},
    xAxis: {categories: ['', 'DE', 'DK', 'EE', 'FI', 'LT', 'LV', 'NO', 'PL', 'SE']},
    yAxis: {
        min: 0,
        title: {text: ''},
        stackLabels: {enabled: true}
    },
    legend: {
        align: 'right',
        x: 70,
        verticalAlign: 'top',
        y: 70,
        floating: true,
        backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{category}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: { enabled: true }
        }
    },
    series: data
    });
}
function getFlowBetweenCountries(){
    $.ajax({
        url: "/flow_between_countries",
        type: "GET",
        dataType: "json",
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                //console.log(response.data);
                let str = '[';
                let dataArray  = [];
                let data = JSON.parse(response.data);
                let countries = data.countries;
                let flow = data.flow_from_to;
                console.log(countries);
                console.log(flow);
                /*********************************************/
                const array =[
                    {"DE": [51.1657, 10.4515]},
                    {"PL": [51.9194, 19.1451]},
                    {"DK": [56.2639, 9.5018] },
                    {"SE": [60.1282, 18.6435]}, 
                    {"EE": [58.5975, 25.0237]},
                    {"LV": [56.9462, 24.1050]},
                    {"FI": [60.1920, 24.9458]},
                    {"NO": [64.5830, 12.7522]},
                    {"LT": [54.6871, 25.2796]}
                ]
                let countryCode1, country1, coords1, countryCode2, country2, coords2;
                $.each(countries, (i, item)=>{
                    console.log(item[0] + ' ' + item[1]);
                    console.log(flow[i]);
                    if(flow[i] > 0){
                        countryCode1 = item[0];
                        countryCode2 = item[1];
                        console.log(' + ');
                        }
                    else{
                        countryCode1 = item[1];
                        countryCode2 = item[0];
                        console.log(' - ');
                    }

                    country1 = array.find(item => item[countryCode1]);
                    coords1 = country1[countryCode1];

                    country2 = array.find(item => item[countryCode2]);
                    coords2 = country2[countryCode2];
                    //console.log(coords1 + ' ' + coords2);

                    var line = L.polyline([coords1, coords2], {color: 'blue', weight: 5}).addTo(map);
                    line.on('mouseover', function () {
                        // Set text on mouseover
                        this.setText('Power → ' + Math.round(flow[i]), {
                            repeat: false,  // Repeat text along the line
                            offset: 10,    // Offset text position
                            orientation: 'auto',
                            attributes: {  // Customize text appearance
                                fill: 'red',
                                'font-weight': 'bold',
                                'font-size': '12px',
                                stroke: 'white',
                                'stroke-width': '3px',
                                'paint-order': 'stroke'
                            }
                        });
                    });

                    line.on('mouseout', function () {
                        // Remove text on mouseout
                        this.setText(null);
                    });

                    var arrowHead = L.polylineDecorator(line, {
                        patterns: [
                            {
                                offset: '50%',
                                repeat: 0,
                                symbol: L.Symbol.arrowHead({
                                    pixelSize: 15,
                                    polygon: true,
                                    pathOptions: {color: 'blue', stroke: true}
                                })
                            }
                        ]
                    }).addTo(map);
                });
            }    
            getGenerationCountryCarrier();
        },
        error: function(error) {
            console.log("An error occurred: " + error.responseJSON);
            for (const key in error) {
                if (error.hasOwnProperty(key)) {
                    //console.log(`${key}: ${error[key]}`);
                    }
                }
            }
    });
}
function drawLines(lines, type){
    lines.forEach(item => {
        //console.log(item);
        bus0 = item.bus0_coordinates;
        bus1 = item.bus1_coordinates;
        pointA = new L.LatLng(bus0.y, bus0.x);
        pointB = new L.LatLng(bus1.y, bus1.x);
        coordinates = [pointA, pointB];
        //console.log(coordinates);
        color = 'blue';
        if(type == 'peak') {
            if(item.peak_utilization > 0.70){
                color = 'red';
            }
        }
        if(type == 'average') {
            if (item.average_utilization > 0.50){
                color = 'red';
            }
        }
        const polyline = L.polyline(coordinates, {
            color: color,
            weight: 4
        }).addTo(map);
        l = Math.round(item.length);
        c = Math.round(item.capacity);
        a = (Math.round(item.average_utilization * 100));
        p = (Math.round(item.peak_utilization * 100));
        polyline.bindPopup(`<b>${item.bus0} - ${item.bus1}</b><br><b>Length: ${l} Km.</b><br><b>Capacity: ${l} MW.</b><br><b>Average: ${a}%</b><br><b>Peak: ${p}%</b><br>`);
    });
}
</script>

</body>
</html>
