
/* Main layout */
.gamedashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1080px;
  padding: 28px 60px;
}
.backgroundimage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* Dashboard grid layout */
.dashboardcontent {
  position: relative;
  margin-top: 10px;
  width: 1800px;
  height: 760px;
}
 
.dashboardgrid {
  display: flex;
  gap: 20px;
}
.statuscolumn {
  width: 16%;
}
.mapcolumn {
  width: 51%;
}
.attackcolumn {
  width: 33%;
  height: 760px;
}
.defencecolumn {
  width: 33%;
  height: 760px;
}
/* Footer */
.gamefooter {
  position: relative;
  display: flex;
  margin-top: 10px;
  min-height: 122px;
  max-width: 1800px;
  width: 100%;
  padding: 30px 0px;
  justify-content: flex-end;
  align-items: center;
}
 
.deploybutton {
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--white);
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  min-height: 63px;
  width: 547px;
  padding: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.deploybutton:disabled { opacity: 0.5; cursor:default; }
/*
.container{ padding: 28px 50px; }
.row{ display: flex; justify-content: space-between; margin-bottom: 30px; }
.left_column{ width: 283px; margin-right: 20px; }
.center_column{ width: 890px; margin-right: 20px; }
.right_column{ width: 587px; }

.wrapper {
  	width: 100%;
  	position: relative;
  	height: 1080px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 28px 60px;
  	box-sizing: border-box;
  	gap: 10px;
  	text-align: left;
  	font-size: 20px;
  	color: #004494;
  	font-family: Inter;
}
.row{ display: flex; justify-content: space-between; margin-bottom: 30px; }
.left_column{ width: 283px; margin-right: 20px; }
.center_column{ width: 890px; margin-right: 20px; }
.right_column{ width: 587px; }
*/